html {scroll-behavior:smooth;}

body {
  margin: 0;
  min-width: 960px;
  line-height: 32px;
  background-color: white;
  width: auto;
  height: auto;
  transition: all 0.2s ease-out;
}
.sec {
  text-align: center;
  background-color: white;
  width: 100%;
}
.main-menu  {
  margin-left: 30px;
  width: 350px;
  color: white;
  text-align: left;
  font-size: 120%;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 1;
}
.main-menu a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 14px;
  transition: all 0.2s ease-out;
}
.firstpage .main-menu a:hover {
  opacity: .5
}

 .main a, .footer a,.comm .mail a{
  color: #149bd5;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-out;
}


 .main a:hover, .footer a:hover, .mail a:hover {
  color: #127dc3;
}
 .main-menu a:hover {
  opacity: .5
  color: white;
}

.firstpage {
  background: url("img/woman.jpg") no-repeat -50% 50%;
  background-size: 80% 100.1%;
  height: 140%;
  margin-bottom: 0.1%;
}

.present {
  width: auto;
  height: auto;
  margin-left: 62%;
  text-align: center;
  background-color: white;
  margin-top: -9%;
  padding-top: 4.5%;
}

.present h1 {
height: 25%;
margin-bottom: -1%;
text-align: center;
  background-color: white;
  color: #FFA07A;
  font-weight: bold;
  font-size: 4.7vmax;
  line-height: 100%;
}


.present .main {
  margin-left: 17%;
    background-color: white;
    text-align: center;
}

.present .main .top {
  margin-bottom: -3%;
}


.present .main p{
  font-size: 1.5vmax;
  width: 79%;
  color: #525050;
  text-align: center;
}

.present .buy {
  background-color: #777777;
  color: white;
  font-size: 125%;
  border:none;
  border-radius: 5%;
  width: 120px;
  height: 35px;
  font-weight: 500;
  vertical-align: middle;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.present a{}
.present a:hover .buy {background-color: #919c92;   transition: all 0.2s ease-out;}

.present img.strelka {
  margin-top: 5.5%;
}


.below{display: flex;flex-direction: column;}
.shop{border-bottom: 3px solid #e6e5e5;}
.pilki {width: 60%; display: flex;flex-direction: row;flex-wrap: wrap; justify-content:
  space-between; padding: 2.5%;
}

.a {display: block;}
.a:hover p{
  color: #149bd5;
    transition: all 0.2s ease-out;
}
.a:hover .jpg {
  background-size: 105%;
  transition: all 0.2s ease-out;
}
.jpg {height: 250px; width:250px; background-color: #f9f9f9}
.a p{width: 250px;; line-height: 120%;margin-bottom: -6.5%; color: #575757}
.a h2 {margin-bottom: 15%;}
.matreshka .jpg{background: url("img/matreshka.jpg") no-repeat -10% 40%; background-size: 100%;}
.plastic .jpg{background: url("img/plastic.jpg") no-repeat 40% 60%; background-size: 100%;}
.moscow .jpg{background: url("img/moscow.jpg") no-repeat 50% -10%; background-size: 100%;
background-color: #f9f9f9}



.why h1 {
  font-size: 2em;
}

.why p.description {
  width: 40%;
  margin-left: 30%;
  text-align: left;
  line-height: 180%;
}

.why .kav {
  margin-top: 2.5%;
}

.why .rev {
  margin-top: -1.5%;
  text-align: left;
  width: 40%;
  font-size: 190%;
  font-style: italic;
  line-height: 120%;
}

.why .figmar {
 display: inline-block;
 margin-top: 0;
 margin-left: 0%;
 }
.why .figmar figcaption {
  float: right;
  padding-top: 3%;
}


.why .figmar pre{
 line-height: 150%;
 font-size: 55%;
 font-style:  normal;
}
.about {
  margin-top: 0;
  padding-bottom: 0.05%;
}

.about h1 {
  font-size: 180%;
}

.about {
    height: -20%;
}

.host .text{
  width: 32.5%;
  margin-left:30%;
  text-align: left;
  line-height: 180%;
    float:left;
}

.host img {
  margin-bottom: -1%;

}

.host figure {
    line-height: 180%;
  padding-right: 22.5%;
  margin-top: 0;
}
.footer {
  background: #efefef;
  padding-top: 1%;
  font-size: 90%;
  line-height: 50%;
  padding-bottom: 1%;
  color: #9f9b9a
  }

.comm {
padding-bottom: 3%;
}

.comm h1 {font-size: 180%
}

.sec.comm .ico.phone a:hover {
    color: #195685;
    }
.icons {display: flex; justify-content: space-between; width: 400px;}

.ico {
  display: flex; align-items: center; justify-content: space-between;
}
.ico.phone {
  font-size: 100%;
  width: 37%;
}

.ico.phone a {
  color:black;
  text-decoration: none;
}

.ico.phone a:hover {
  color: #195685;
  transition: all 0.2s ease-out;
}

.ico.mail {
  font-size: 100%;
  width: 57%;
}

.ic {
 width: 20px;
 height: 20px;
background-size: 1000%;
 background-image: url("img/sprite.jpg");
 background-repeat: no-repeat;

}


.ic.ph {
  background-position: -90px -75px;


}
.ic.ma {
  background-position: -125px -75px;
}
